@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>For more details of the site's privacy policy please contact us at <a href="mailto:privacy@example.com">privacy@example.com</a>.</p>
